@import 'variables';
@import 'mixins';
@import 'icomoon';

*:focus {
  outline: 0;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: Helvetica, Arial sans-serif;
}

a {
  text-decoration: none;
}

header {
  display: block;

  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 50%, #e71d39 51%, #e71d39 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ffffff 0%,#ffffff 50%,#e71d39 51%,#e71d39 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ffffff 0%,#ffffff 50%,#e71d39 51%,#e71d39 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e71d39',GradientType=1 ); /* IE6-9 */


  .header-wrapper {
    background-color: #fff;
    max-width: 962px;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
    width: 100%;
    
    h1 {
      float: left;
      margin: 11px 0;
    }

    .allocations-btn {
      background: #e71d39;
      color: #fff;
      font-weight: bold;
      float: right;
      font-size: 14px;
      padding: 10px 20px 10px 48px;

      span, img {
        display: inline-block;
        vertical-align: middle;
      }

      span {
        font-size: 10px;
        margin-right: 7px;
        padding-bottom: 2px;
      }

      img {
        margin-left: 30px;
      }
    }
  }

  .search-wrapper {
    background-color: #e7e7e8;
    height: 50px;
    width: 100%;

    &__container {
      max-width: 962px;
      margin: 0 auto;
      height: 100%;

      input {
        border: 0;
        background: transparent;
        font-size: 22px;  
        height: 100%;
        width: 500px;
      }

      .search-button-wrapper {
        background: #f3f3f4;
        min-width: 90px;
        float: right;
        height: 50px;
        padding: 16px 24px;
        @include box-sizing(border-box);

        span {
          color: #000;
          &.icon-search {
            float: right;
          }

          &.icon-close {
            margin-right: 28px;
          }
        }
      }
    }

    &__results {
      background: #f3f3f4;
      padding: 20px 30px;
      @include box-sizing(border-box);
      max-width: 962px;
      margin: 0 auto;
    }
  }
}

.main-content {
  height: 500px;
}

footer {
  background: #e7e7e8;
  width: 100%;

  .footer-wrapper {
    width: 100%;
    max-width: 962px;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
    padding: 16px 0;

    span, a {
      font-size: 11px;
      font-weight: bold;
      color: #868686;
    }

    > span {
      float: left;
    }

    a {
      float: right;

      .icon-envelope {
        margin-right: 6px;
      }
    }
  }
}

section {
  width: 100%;
  max-width: 962px;
  margin: 0 auto;
}

//Login section
.login {
  margin: 0 auto;
  width: 300px;
  h1 {
    font-size: 26px;
    font-weight: 200;
    text-align: center;
    border-bottom: 1px solid #e7e7e8;
    padding-bottom: 10px;
    margin: 0 auto 34px;
  }

  input {
    border: 1px solid #e7e7e8;
    font-size: 14px;
    font-weight: bold;
    color: #868686;
    margin-bottom: 12px;
    padding: 16px 21px;
    width: 83%;
    height: 50px;
    vertical-align: top;
    @include box-sizing(border-box);
  }

  input[type="submit"] {
    font-size: 12px;
    color: #fff;
    border: 0;
    background-color: #000;
    margin-bottom: 0;
    padding: 18px 0;
    width: 100%;
  }

  span {
    background-color: #e7e7e8;
    font-size: 14px;
    padding: 18px 19px;
    vertical-align: top;
    display: inline-block;
  }
}