node_modules
npm-debug.log
.sass-cache
.env
.test-env
src/js/client.min.js
css/styles.css
css/styles.css.map
.vscode
api/server/src/tmp/*.json
api/server/apidoc
api/server/logs/**/*.log
api/server/src/typings
.vagrant
vagrant-machine/.vagrant
/dist
front-end/dist/js/client.min.js
front-end/dist/css/styles.css