@font-face {
  font-family: 'AmsiProNarw-Black';
  src: url('../fonts/AmsiProNarw-Black.eot'); /* IE9 Compat Modes */
  src: url('../fonts/AmsiProNarw-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/AmsiProNarw-Black.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/AmsiProNarw-Black.ttf') format('truetype'),
       url('../fonts/AmsiProNarw-Black.svg#interface_triallight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmsiProNarw-Bold';
  src: url('../fonts/AmsiProNarw-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/AmsiProNarw-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/AmsiProNarw-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/AmsiProNarw-Bold.ttf') format('truetype'),
       url('../fonts/AmsiProNarw-Bold.svg#interface_triallight') format('svg');
  font-weight: normal;
  font-style: normal;
}