@import 'fonts';

// FONTS
$AmsiBlack: 'AmsiProNarw-Black', 'Arial', serif;
$AmsiBold: 'AmsiProNarw-Bold', 'Helvetica', Arial, sans-serif;

// Colours
$BLACK: #000000;
$DARK-GREY: #231F20;
$GREY: #868686;
$WHITE: #FFFFFF;
$LIGHTEST-GREY: #E8E8E8;
$LIGHT-GREY: #FAFAFC;

// BREAKPOINTS
$mediumBreakpoint: 768px;
$largeBreakpoint: 1024px;
$var3L:#123;