@import 'fonts';

// FONTS
$AmsiBlack: 'AmsiProNarw-Black', 'Arial', serif;
$AmsiBold: 'AmsiProNarw-Bold', 'Helvetica', Arial, sans-serif;

// BREAKPOINTS
$mediumBreakpoint: 768px;
$largeBreakpoint: 1024px;
$var3L:#123;