@import 'variables';
@import 'mixins';
@import 'icomoon';
@import 'components/search-results-table';

*:focus {
  outline: 0;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: Helvetica, Arial sans-serif;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.arrow-btn {
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  span {
    font-size: 10px;
    font-weight: bold;
    margin-left: 24px;
  }
}

//Two Columns Module
.two-col-wrapper {
  clear: both;
  overflow: hidden;
  .left-col {
    float: left;
    width: 20%;
  }

  .right-col {
    float: right;
    width: 75%;
  }
}

header {
  display: block;

  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 50%, #e71d39 51%, #e71d39 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ffffff 0%,#ffffff 50%,#e71d39 51%,#e71d39 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ffffff 0%,#ffffff 50%,#e71d39 51%,#e71d39 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e71d39',GradientType=1 ); /* IE6-9 */


  .header-wrapper {
    background-color: #fff;
    max-width: 962px;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
    width: 100%;

    h1 {
      float: left;
      margin: 11px 0;
    }

    .allocations-btn {
      background: #e71d39;
      color: #fff;
      font-weight: bold;
      float: right;
      font-size: 14px;
      padding: 10px 20px 10px 48px;

      span, img {
        display: inline-block;
        vertical-align: middle;
      }

      span {
        font-size: 10px;
        margin-right: 7px;
        padding-bottom: 2px;
      }

      img {
        margin-left: 30px;
      }
    }
  }

  .search {
    background-color: #fff;
    width: 100%;

    .search__input__wrapper {
      background-color: #e7e7e8;
      height: 50px;
    }

    .search__input {
      max-width: 962px;
      margin: 0 auto;
      height: 100%;

      input {
        border: 0;
        background: transparent;
        font-size: 22px;
        height: 100%;
        width: 500px;
      }

      .search-button-wrapper {
        background: #f3f3f4;
        min-width: 90px;
        float: right;
        height: 50px;
        padding: 16px 24px;
        @include box-sizing(border-box);

        span {
          color: #000;
          &.icon-search {
            cursor: pointer;
            float: right;
          }

          &.icon-close {
            cursor: pointer;
            margin-right: 28px;
          }
        }
      }

      .search-field-wrapper {
        display: inline-block;
        height: 43px;
      }
    }

    &__results {
      background: #f3f3f4;
      padding: 30px 30px 46px;
      @include box-sizing(border-box);
      max-width: 962px;
      margin: 0 auto;

      > ul {
        margin: 0 0 28px;
        &:last-child {
          margin: 0;
        }
        li {
          &.category-list {
            display: inline-block;
            font-size: 13px;
            color: #666767;
            padding-right: 30px;
            vertical-align: top;
            width: 145px;
            @include box-sizing(border-box);
          }

          &.subcategory-list {
            display: inline-block;
            vertical-align: top;
            ul {
              li {
                font-size: 16px;
                color: #000;
                cursor: pointer;
                margin-bottom: 6px;
                transition: color .2s ease-in;

                &:hover { color: #e71d39; }

                &.selected {
                  color: #e71d39;
                }
              }
            }
          }
        }
      }
    }
  }

  .search-pill-wrapper {
    width: 962px;
    margin: 0 auto;
    background-color: #f3f3f4;
    border-bottom: 1px solid #e7e7e8;
    margin-top: -1px
  }

  .search-field-pill {
    display: inline-block;
    background-color: white;
    border-radius: 30px;
    padding: 4px 12px;
    margin: 12px 8px;
  }

  .search-field-pill__close {
    display: inline-block;
    cursor: pointer;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #666767;
    color: white;
    font-size: 10px;
    margin-left: 3px;
    text-align: center;
    font-family: 'icomoon' !important;

    &::before {
      content: "\e903";
      line-height: 15px;
      color: white;
      font-size: 12px;
    }
  }
}

.main-content {
  height: 500px;
  padding: 40px 0;
}

footer {
  background: #e7e7e8;
  width: 100%;

  .footer-wrapper {
    width: 100%;
    max-width: 962px;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
    padding: 16px 0;

    span, a {
      font-size: 11px;
      font-weight: bold;
      color: #868686;
    }

    > span {
      float: left;
    }

    a {
      float: right;

      .icon-envelope {
        margin-right: 6px;
      }
    }
  }
}

section {
  width: 100%;
  max-width: 962px;
  margin: 0 auto;
}

//Login section
.login {
  margin: 0 auto;
  width: 300px;
  h1 {
    font-size: 26px;
    font-weight: 200;
    text-align: center;
    border-bottom: 1px solid #e7e7e8;
    padding-bottom: 10px;
    margin: 0 auto 34px;
  }

  input {
    border: 1px solid #e7e7e8;
    font-size: 14px;
    font-weight: bold;
    color: #868686;
    margin-bottom: 12px;
    padding: 16px 21px;
    width: 83%;
    height: 50px;
    vertical-align: top;
    @include box-sizing(border-box);
  }

  input[type="submit"] {
    font-size: 12px;
    color: #fff;
    border: 0;
    background-color: #000;
    margin-bottom: 0;
    padding: 18px 0;
    width: 100%;
  }

  span {
    background-color: #e7e7e8;
    font-size: 14px;
    padding: 18px 19px;
    vertical-align: top;
    display: inline-block;
  }
}

//Resource Manager Map
.resource-manager-map {
  .left-col {
    h2 {
      font-size: 12px;
      color: #666767;
      border-bottom: 1px solid #e7e7e8;
      margin: 0;
      padding: 4px 0 11px 20px;
    }

    ul {
      padding-left: 20px;
      li {
        margin-bottom: 6px;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          color: #000;
          &.selected {
            font-weight: bold;
          }
        }
      }
    }

    .arrow-btn {
      display: block;
      margin-top: 142px;
      padding-left: 20px;
    }
  }
  .right-col {
    h2 {
      font-size: 16px;
      color: #000;
      border-bottom: 1px solid #e7e7e8;
      margin: 0;
      padding: 0 0 11px 10px;
    }

    .map-wrapper {
      position: relative;
      background: url('../img/map.png') no-repeat;
      height: 440px;

      li {
        position: absolute;

        a {
          background-color: #e7e7e8;
          height: 65px;
          width: 65px;
          display: block;
          @include BorderRadius(100px, 100px, 100px, 100px);
          @include box-sizing(border-box);
          padding: 14px 0;

          span {
            border-bottom: 1px solid #c9c9ca;
            color: #000;
            text-align: center;
            display: block;
            margin: 0 auto;
            width: 28px;
            &.location {
              font-size: 10px;
              font-weight: bold;
            }

            &.amount {
              font-size: 20px;
              font-weight: bold;
            }
          }
        }

        &.ny {
          top: 167px;
          left: 221px;
        }

        &.lnd {
          top: 136px;
          left: 315px;
          a {
            background-color: #bcbdc0;
            span {
              border-bottom: 1px solid #a4a5a7;
            }
          }
        }

        &.sp {
          top: 284px;
          left: 256px;
          z-index: 2;
        }

        &.ba {
          top: 335px;
          left: 236px;
          z-index: 1;
          a {
            background-color: #bcbdc0;
            span {
              border-bottom: 1px solid #a4a5a7;
            }
          }
        }

        &.au {
          right: 90px;
          top: 293px;
        }
      }
    }
  }
}