.employee-header-container {
    @include grid($max-width: em(960));
    margin-top: em(18);
    line-height: normal;

    .profilePic {
        @include userProfilePicture(50px, 50px);
    }

    .employee-name {
    	font-size: em(36);
    	font-weight: bold;
    }

    .employee-subtitle {
    	line-height: 120%;
    	font-size: em(12);
    	font-weight: bold;
    	color: $GREY-FONT;

    	.subtitle-annotation {
    		font-weight: normal !important;
    	}
    }

    .employee-interests {
    	padding-top: em(10);
    	color: $GREY;
    	font-size: em(12);

    	.interest {
    		line-height: 150%;
            display: inline;

            &.editable-interest {
                cursor: pointer;
            }
    	}

        .edit {
            font-family: "fontello";

            &:before {
                content: '\e9c0';
                vertical-align: sub;
                font-size: 24px;
                -webkit-font-smoothing: antialiased;
            }

            &:hover {
                color: $BLACK;
            }
        }

        .no-items {
            color: $RED;
        }

        .none-available {
            color: #d0d0d0;
        }
    }

    .employee-skills-counter {
    	padding-bottom: em(18);

    	.count {
    		font-size: em(26);
    		font-weight: bold;
    	}

    	.label {
    		font-size: em(12);
    		font-weight: bold;
    		color: $GREY-FONT;
    	}
    }

    .employee-skills-add {
    	padding-top: em(10);
    	padding-bottom: em(10);
    	border-top: 1px solid $LIGHTEST-GREY;
    	border-bottom: 1px solid $LIGHTEST-GREY;
    	margin-bottom: em(18);

    	a {
    		font-size: em(12);
    		font-weight: bold;
    		color: black;
    		text-decoration: none;
    	}

        &.employee-skills-verify .alert {
            margin-bottom: em(5);

            .icon-alert {
                background-color: $RED;
                border-radius: 50%;
                color: white;
                display: inline-block;
                height: em(16);
                width: em(16);
                margin: .3rem .4rem 0 0;
                text-align: center;
                font-size: em(12);
            }

            span.label {
                color: $RED;
                font-size: em(12);
                font-weight: bold;
                text-decoration: none;
            }
        }

        &.employee-skills-verify {
            .notes-references {
                display: block;

                .note {
                    display: block;
                    font-size: em(12);

                    span.box {
                        display: inline-block;
                        width: em(15);
                        height: em(12);

                        &.verified {
                            background-color: $VERIFIED-SKILL;
                        }
                        &.non-verified {
                            background-color: $NON-VERIFIED-SKILL;
                        }
                    }

                    strong {
                        font-weight: normal;
                        color: $NON-VERIFIED-SKILL;
                    }
                }
            }
        }
    }

    .employee-skills-last-update {
    	font-size: em(12);
    	color: $GREY-FONT;
        margin-bottom: em(15);

    	span {
    		font-weight: bold;
    	}
    }

    .approver-reminder {
        font-size: em(12);
        cursor: pointer;
        color: $GREY;
    }

    .approver-reminder-sent {
        font-size: em(12);
        color: #d0d0d0;
        cursor: default;
    }

    .allocations {
        padding: 0 0 em(15) 0;
    }

    form {
        margin: 1.2rem 0 1rem 0;

        .inputTextBox, .react-autosuggest__input {
            border: .0625em solid $GREY;
            font-size: .95em;
            font-weight: 100;
            color: $GREY;
            padding: 1em 1.3125em;
            height: 50px;
            vertical-align: top;
            width: 65%;
            margin-bottom: 1px;
        }

        .react-autosuggest__suggestions-list {
            position: absolute;
        }

        .add-interest,
        .add-past-client {
            font-size: .95em;
            font-weight: 100;
            color: $WHITE;
            border: 0;
            background-color: $BLACK;
            padding: 1.125em 0;
            width: 32%;
            cursor: pointer;
            height: 50px;
            float: right;
        }

        .interest-suggested, .react-autosuggest__suggestion {
            width: 253px;
            background: $LIGHTEST-GREY;
            border-left: 1px solid $GREY;
            border-right: 1px solid $GREY;
            padding: .45rem;
            display: inline-block;
            cursor: pointer;
            margin-top: -1px;
            color: $GREY-FONT;

            &:last-of-type {
                border-bottom: 1px solid $GREY;
            }
        }

        .react-autosuggest__suggestion--focused {
            color: $BLACK;
        }
    }

    .interests,
    .past-clients {
        .interest,
        .past-client {
            .remove-interest {
                cursor: pointer;
                vertical-align: -22%;
                font-weight: 400;
                font-size: 1.4rem;
                color: $RED;
            }

            margin: .5rem 0;
            color: $BLACK;
            font-size: 1rem;
            font-weight: 400;

            input[type="checkbox"] {
                margin-right: .2rem;
            }
        }
    }

    .industries {
        margin: 1.7rem 0 0 0;

        .industry {
            margin: .7rem 0;
            color: $BLACK;
            font-size: 1rem;
            font-weight: 400;

            input[type="checkbox"] {
                margin-right: .2rem;
            }
        }
    }
}

.employee-related-employees {
    @include grid($max-width: em(960));
    margin-top: em(45);
    display: flex;

    .related-employee {
        padding-top: em(10);
        border-bottom: em(1) $LIGHTEST-GREY solid;
        padding-bottom: em(10);
        height: 100%;
        float: left;
        width: calc(33% - 20px);
        margin-right: 20px;

        .header {
            font-weight: bold;
            border-bottom: em(1) $LIGHTEST-GREY solid;
            padding-left: em(6);
        }

        .employeeData {
            padding-left: em(6);
            padding-top: em(15);
            padding-bottom: em(25);
            position: relative;
            cursor: pointer;

            .picture {
                float: left;
                width: em(55);
                height: em(55);

                img {
                    border-radius: 4rem;
                }
            }

            .nameData {
                float: left;
                overflow: hidden;
                line-height: normal;
                min-height: em(55);
                vertical-align: middle;
                margin-top: .2rem;
                margin-left: 1rem;
                width: 10rem;

                .name {
                    font-size: em(14);
                    font-weight: bold;
                }

                .position, .area {
                    font-size: em(12);
                    color: $GREY;
                }
            }

            .mail {
                float: right;
                width: em(30);
                height: em(30);
                background-color: $WHITE;
                margin-top: em(12);
                display: block;
                border: 1px solid $LIGHTEST-GREY;

                .related-email {
                    color: $BLACK;
                    margin-top: 5px;
                    margin-left: 7px;
                }
            }

            .arrows {
                position: absolute;
                right: 0;
                top: 1.6em;

                .arrow-prev {
                    transform: scaleX(-1);
                }

                .arrow-prev, .arrow-next {
                    cursor: pointer;
                }
            }
        }
    }
}
