.filters {
    &__backgrounded {
        background-color: $LIGHT-GREY;
        //border-right: em(1) solid $LIGHTEST-GREY;
    }

    min-height: 100vh;
    position: relative;
    padding: {
        bottom: 0;
    }

    .filterContent {
        padding: em(12);
    }

    & > div {
        &:last-of-type {
            border-bottom: none;
        }
    }

    .filter-title-group {
        color: $GREY;
    }

    .all-bottom {
        cursor: pointer;
    }

    .filter-option {
        color: $GREY;

        label {
            user-select: none;

            &:hover {
                cursor: pointer ;
            }
        }

        input {
            margin-right: 7px;
        }
    }

    .filters-search-container {
        background-color: $LIGHTEST-GREY;
        width: 100%;

        .ss-icon-search {
            font-size: .875em;
            margin-left: .5rem;
        }
    }

    .filters-search-container__field {
        background-color: transparent;
        height: 2rem;
        text-indent: 1em;
        width: 85%;
    }
}