/**
 * Components: Resource Manager Map
 */

.resource-manager-map {
    .left-col {
        h2 {
            font-size: 12px;
            color: #666767;
            border-bottom: 1px solid #e7e7e8;
            margin: 0;
            padding: 4px 0 11px 20px;
        }

        ul {
            padding-left: 20px;
            li {
                margin-bottom: 6px;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    color: #000;
                    &.selected {
                        font-weight: bold;
                    }
                }
            }
        }

        .arrow-btn {
            display: block;
            margin-top: 142px;
            padding-left: 20px;
        }
    }
    .right-col {
        h2 {
            font-size: 16px;
            color: #000;
            border-bottom: 1px solid #e7e7e8;
            margin: 0;
            padding: 0 0 11px 10px;
        }

        .map-wrapper {
            position: relative;
            background: url('../img/map.png') no-repeat;
            height: 440px;

            li {
                position: absolute;

                a {
                    background-color: #e7e7e8;
                    height: 65px;
                    width: 65px;
                    display: block;
                    border-radius: 100px, 100px, 100px, 100px;
                    padding: 14px 0;

                    span {
                        border-bottom: 1px solid #c9c9ca;
                        color: #000;
                        text-align: center;
                        display: block;
                        margin: 0 auto;
                        width: 28px;

                        &.location {
                            font-size: 10px;
                            font-weight: bold;
                        }

                        &.amount {
                            font-size: 20px;
                            font-weight: bold;
                        }
                    }
                }

                &.ny {
                    top: 167px;
                    left: 221px;
                }

                &.lnd {
                    top: 136px;
                    left: 315px;
                    a {
                        background-color: #bcbdc0;
                        span {
                            border-bottom: 1px solid #a4a5a7;
                        }
                    }
                }

                &.sp {
                    top: 284px;
                    left: 256px;
                    z-index: 2;
                }

                &.ba {
                    top: 335px;
                    left: 236px;
                    z-index: 1;
                    a {
                        background-color: #bcbdc0;
                        span {
                            border-bottom: 1px solid #a4a5a7;
                        }
                    }
                }

                &.au {
                    right: 90px;
                    top: 293px;
                }
            }
        }
    }
}