/**
 * Components: Resource Manager Map
 */

.resource-manager-map {
    .left-col {
        h2 {
            font-size: em(12);
            color: #666767;
            border-bottom: em(1) solid #e7e7e8;
            margin: 0;
            padding: em(10) 0 em(11) em(20);
        }

        .top-searched-skills {
            li {
                &:hover {
                    a {
                        transition: color 0.5s ease;
                        color: red;
                    }
                }

                &.highlighted {
                    transition: font-weight 0.5s ease;
                    font-weight: bold;

                    a {
                        color: red;
                    }
                }
            }
        }

        .all-skills-link {
            padding-left: 20px;
            margin-top: em(50);
            font-size: em(12);

            a {
                color: black;
            }

            a:hover {
                color: red;
            }
        }

        ul {
            padding-left: 20px;
            margin: em(16) 0;
            font-size: em(16);

            li {
                margin-bottom: em(6);
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    color: #000;
                    &.selected {
                        font-weight: bold;
                    }
                }
            }
        }

        .arrow-btn {
            display: block;
            padding-left: em(20);
        }
    }
    .right-col {
        h2 {
            font-size: em(16);
            color: #000;
            border-bottom: em(1) solid #e7e7e8;
            margin: 0;
            padding: 0 0 em(11) em(10);
        }

        .map-wrapper {
            position: relative;
            background: url('../img/map.png') no-repeat;
            height: em(440);

            li {
                position: absolute;
                transition: color 0.5s ease;

                a {
                    background-color: #e7e7e8;
                    height: 65px;
                    width: 65px;
                    display: block;
                    border-radius: em(100);
                    padding: 5px 0;

                    &:hover {
                        transition: background-color 0.5s ease;
                        background-color: #bcbdc0;
                    }

                    span {
                        border-bottom: em(1) solid #c9c9ca;
                        color: #000;
                        text-align: center;
                        display: block;
                        margin: 0 auto;
                        width: 28px;

                        &.location {
                            font-size: em(10);
                            font-weight: bold;
                        }

                        &.amount {
                            font-size: em(20);
                            font-weight: bold;
                        }
                    }
                }

                &.ny {
                    top: 185px;
                    left: 200px;
                }

                &.ldn {
                    top: 136px;
                    left: 315px;
                    a {
                        span {
                            border-bottom: 1px solid #a4a5a7;
                        }
                    }
                }

                &.bu {
                    top: 170px;
                    left: 340px;
                }

                &.sp {
                    top: 284px;
                    left: 256px;
                    z-index: 2;
                }

                &.sf {
                    top: 200px;
                    left: 100px;
                }

                &.la {
                    left: 105px;
                    top: 220px;
                }

                &.chi {
                    left: 170px;
                    top: 170px;
                }

                &.atx {
                    left: 150px;
                    top: 220px;
                }

                &.pdx {
                    left: 105px;
                    top: 160px;
                }

                &.ba {
                    top: 335px;
                    left: 236px;
                    z-index: 1;
                    a {
                        span {
                            border-bottom: 1px solid #a4a5a7;
                        }
                    }
                }

                &.syd {
                    right: 90px;
                    top: 293px;
                }

                &.sgp {
                    top: 260px;
                    right: 170px;
                }

                &.sh {
                    top: 220px;
                    right: 130px;
                }

                &.ist {
                    top: 190px;
                    left: 380px;  
                }
            }
        }
    }
}