/**
 * Components: Search Results Table
 */

.search-results-table {
    @include grid($max-width: em(960));

    .header-bar {
        background-color: $DARK-GREY;
        color: $WHITE;
        height: 50px;
        margin: 0;

        .col {
            line-height: em(29);

            &:nth-of-type(2) {
                @include nestedColumn($width: 2, $context: 9);    
            }
            
            &:nth-of-type(5) {
                text-align: center;
            }
        }
    }

    .results-section {
        @include grid($max-width: em(960));

        .filters {
            background-color: $LIGHT-GREY;
            padding: {
                top: em(10);
                bottom: 0;
            }

            & > div {
                border-bottom: 1px solid $LIGHTEST-GREY;
                padding-bottom: em(9);
                padding-top: em(6);

                &:last-of-type {
                    border-bottom: none;
                }
            }

            .filter-title-group {
                color: $GREY;
            }

            .filter-option {
                color: $GREY;

                label {
                    user-select: none;

                    &:hover {
                        cursor: pointer ;
                    }
                }

                input {
                    margin-right: 7px;
                }
            }
        }

        .results {

            &.results--right { float: right; }

            & > * {
                border: {
                    bottom: 1px solid $LIGHTEST-GREY;
                    left: 1px solid $LIGHTEST-GREY;
                }
                height: em(75);

                &:nth-of-type(even) {
                    background-color: $LIGHT-GREY;
                }
            }

            .col {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;

                &.-col-1 {
                    @include nestedColumn($width: 1, $context: 9);
                }
                &.-col-2 {
                    @include nestedColumn($width: 2, $context: 9);
                }
                &.-col-4 {
                    @include nestedColumn($width: 4, $context: 9);
                }

                &:nth-of-type(4) {
                    align-items: center;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    i {
                        color: $GREY;
                        font-size: em(25); 

                        &.right-small-arrow { font-size: em(16); }
                    }
                }

                &:nth-of-type(5) {
                    background-color: $LIGHTEST-GREY;
                    font-size: em(10);
                    text-align: center;
                }
            }
        }

        .manager-home {
            .col {
               &:nth-of-type(3) { 
                    & > .table-row .validate-pending {
                        background-color: #e71d39;
                        border-radius: 50%;
                        display: inline-block;
                        height: 6px;
                        margin-left: 15px;
                        vertical-align: middle;
                        width: 6px;
                    }
               } 
            }
        }
    }
}