/**
 * Components: Search Results Table
 */

.search-results-table {
    margin: 0 auto;
    max-width: 730px;

    .header-bar {
        background-color: $DARK-GREY;
        color: $WHITE;
        height: 50px;
        margin: 0;
        padding: {
            left: 10px;
        }

        li {
            display: table;
            float: left;
            padding-left: 10px;
            line-height: 50px;

            &:nth-of-type(1) {
                width: 318px;
            }

            &:nth-of-type(2) {
                width: 80px;
            }

            &:nth-of-type(3) {
                text-align: center;
                width: 80px;
            }

            &:nth-of-type(4) {
                text-align: center;
                width: 202px;
            }
        }
    }

    .results-section {
        .result {
            border-bottom: 1px solid $LIGHTEST-GREY;
            height: 75px;
            margin: 0;
            padding: {
                left: 10px;
                right: 10px;
            }

            li {
                color: $GREY;
                display: table;
                float: left;
                height: 100%;
                padding-left: 10px;

                &:nth-of-type(1) {
                    width: 318px;

                    p {
                        margin: 0;
                    }
                }

                &:nth-of-type(2) {
                    width: 80px;
                }

                &:nth-of-type(3) {
                    text-align: center;
                    width: 80px;
                }

                &:nth-of-type(4) {
                    width: 192px;

                    div {
                        align-items: center;
                        display: flex;
                        height: 75px;
                        justify-content: space-around;
                    }
                }

                div {
                    display: table-cell;
                    vertical-align: middle;
                }
            }

            &:nth-of-type(even) {
                background-color: $LIGHT-GREY;
            }
        }
    }
}