/**
 * Components: Search Results Table
 */

.search-results-table {
    @include grid($max-width: em(960));

    .header-bar {
        background-color: $DARK-GREY;
        color: $WHITE;
        height: 50px;
        margin: 0;

        .col {
            line-height: em(29);

            &:nth-of-type(5) {
                text-align: center;
            }
        }
    }

    .results-section {
        @include grid($max-width: em(960));

        .filters {
            background-color: $GREY;
        }

        .results {

            & > * {
                border-bottom: 1px solid $LIGHTEST-GREY;
                height: em(75);

                &:nth-of-type(even) {
                    background-color: $LIGHT-GREY;
                }
            }

            .col {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;

                &.-col-1 {
                    @include nestedColumn($width: 1, $context: 9);
                }
                &.-col-2 {
                    @include nestedColumn($width: 2, $context: 9);
                }
                &.-col-4 {
                    @include nestedColumn($width: 4, $context: 9);
                }

                &:nth-of-type(4) {
                    align-items: center;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    i {
                        color: $GREY;
                        font-size: em(25);
                    }
                }

                &:nth-of-type(5) {
                    background-color: $LIGHTEST-GREY;
                    font-size: em(10);
                    text-align: center;
                }
            }
        }
    }
}