.search-results-table .results-section .results-profile {
	&> .skill-level-grid {
		height: auto;
		overflow: hidden;
	}
}

.search-results-table {
	.results-section {
		.zebra-table:nth-child(even) {
    		background-color: #fafafb;
    	}
	}

	.header-bar {
		span.header-label {
			font-size: em(12);
			color: white;
			font-weight: normal;

			&.clicleable {
				cursor: pointer;
			}

			&.clicleable:hover {
				text-decoration: underline;
			}

			&.selected {
				font-weight: bold;
			}
		}
	}
}

.skill-level-grid {
	overflow: hidden;
	border-bottom: em(1) solid #e4e4e4;

	.col {

	}

	.sub-table-header {
		font-size: em(12);
	}

	.with-indent {
		padding-left: em(20);
	}
}

.skill-level-grid__header {
	color: white;
	overflow: hidden;
	background-color: #666666;

	.col {	
		height: em(30);
		line-height: em(30);
		vertical-align: middle;

		&.skill-level-empty { background-color: $LIGHTEST-GREY; }
	}

	.table-header, .sub-table-header {
		display: block;
		text-align: center;
	}
}

.group-skills-title {
	.table-header {
		font-size: em(14) !important;
	}
}

.skill-subgroup-title {
	font-size: em(14) !important;
}

.subgroup-title-name {
	border-bottom: em(1) solid #e4e4e4;
	border-left: em(1) solid #e4e4e4;
	border-right: em(1) solid #e4e4e4;
}

.skill-level-grid__levels {
	overflow: hidden;
	border-left: em(1) solid #e4e4e4;
	border-right: em(1) solid #e4e4e4;

	.col {
		white-space: nowrap;
    	text-overflow: ellipsis;
    	max-width: 100%;
    	overflow: hidden;
    	line-height: em(30);

    	span {
			//display: block;
			line-height: 30px;
    	}

    	span.icon-unverify {
    		font-family: Helvetica Neue,Helvetica,sans-serif; 
    		font-size: 1em;
    		padding-right: em(5);
    	}

		&:nth-oftype(1) {
			text-align: left;
		}

		border-right: em(1) solid #e4e4e4;
		&:last-child {
			border-right: none;
		}
	}
}

.skill-level-grid-add {
	background-color: $LIGHTEST-GREY;

	.-header-heavy-supervision {
		padding-left: em(8);
		padding-right: em(8);
	}

	.add-row {
		.row-levels {
			overflow: hidden;

			.col {
				line-height: 24px;
				border-right: 1px solid white;
				border-bottom: 1px solid white;
			}
		}

		.-col-skill-name {
			font-size: em(12);
			padding-left: em(10);
			border-right: none !important;

			.icon-description {
				position: relative;
				float: right;
				color: $GREY;
			}
		}

		.skill-description {
			font-size: em(12);
			color: $GREY;
			padding: em(13) em(10) em(13) em(15);
			line-height: em(17);
			border-bottom: em(1) solid $WHITE;
			border-right: em(1) solid $WHITE;
		}
	}
}

.add-skill-box {
	width: 20% !important;
}

.skill-level-box {
	//background-color: #E3E3E3;
	//border-left: 1px solid white;
	//border-bottom: 1px solid white;
	transition: background-color .2s ease-in-out;
	text-align: center;
	font-size: em(12);
	color: $LESS-GREY;

	&.level-selected { color: $WHITE; background-color: #BCBCBC; }
	&.level-verified {
		background-color: $VERIFIED-SKILL;
		color: $WHITE;

		&.skill-level-changeable {
			cursor: pointer;

			span {
				font-weight: normal !important;
			}
		}

		&.skill-level-changeable:hover {
			background-color: #323030;
			color: white;
		}
	}
	&.level-non-verified {
		color: $WHITE;
		background-color: $NON-VERIFIED-SKILL;

		&.skill-level-changeable {
			cursor: pointer;

			span {
				font-weight: normal !important;
			}
		}

		&.skill-level-changeable:hover {
			background-color: $RED-HOVER;
		}
	}


	&:last-child { border-right: 1px solid white; }

	&.selectable {
		cursor: pointer;
	}

	&.selectable:hover {
		color: $WHITE;
		background-color: $RED;
	}
}

.skill-level-want-wrapper {
	text-align: center;

	input[type="checkbox"].readOnly {
		cursor: default;
	}

	input[type="checkbox"].selectable {
		cursor: pointer;
	}
}