/**
 * Layout: Header
 */

header {
    display: block;
    background: linear-gradient(to right, #ffffff 0%,#ffffff 50%,#e71d39 51%,#e71d39 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


    .header-wrapper {
        background-color: #fff;
        max-width: 962px;
        margin: 0 auto;
        clear: both;
        width: 100%;

        &:after,
        &:before {
            content: "";
            display: table;
        }

        &:after { clear: both; }

        h1 {
            float: left;
            margin: 24px 0;
        }

        .allocations-btn {
            background: #e71d39;
            color: #fff;
            font-weight: bold;
            float: right;
            font-size: 14px;
            //padding: 10px 20px 10px 200px;
            padding: 10px 20px 10px 15px;
            transition: all .35s 1.2s ease-in-out;
            position: relative;
            display: block;
            cursor: default;
            z-index: 500;

            .header-menu {
                opacity: 0;
                height: 0;
                overflow: hidden;
                transition: all .35s .5s ease-in-out; 

                background-color: $RED;
                width: 293px;
                font-size: 16px;
                position: absolute;
                font-weight: normal;
                top: 0;
                left: 0;
                min-height: 65px;
            }

            .header-menu__item {
                a, input[type="button"] {
                    color: white;
                    display: block;
                    padding-left: 30px;
                    padding-right: 30px;
                    padding-bottom: 7px;
                    padding-top: 7px;
                }

                a:hover, input[type="button"]:hover {
                    background-color: #eb364f;
                }
                
                input[type="button"]{
                    background: none;
                    cursor: pointer;
                    width: 100%;
                    text-align: left;
                }
            }

            .header-menu__item--title {
                font-size: 18px;
                line-height: 65px;
                padding-left: 30px;
                padding-right: 30px;
            }

            &:hover {
                padding-left: 200px;
                transition: all .35s .5s ease-in-out; 

                .header-menu {
                    opacity: 1;
                    //min-height: 330px;
                    transition: all .35s .5s ease-in-out;
                }

                .resource-manager-menu {
                    min-height: 165px;
                }

                .approver-menu {
                    min-height: 285px;   
                }

                .employee-menu {
                    min-height: 245px;
                }

            }

            img {
                @include userProfilePicture(44px, 44px);
            }

            span {
                display: inline-block;
                vertical-align: middle;
                font-size: 10px;
                margin-right: 7px;
                padding-bottom: 2px;
            }

            img {
                margin-left: 30px;
            }
        }
    }

    .search {
        background-color: #fff;
        width: 100%;

        .search__input__wrapper {
            background-color: #e7e7e8;
        }

        .search__results__wrapper {
            position: absolute;
            bottom: 0px;
            width: 100%;

            .close-suggestion {
                font-size: 12px;
                color: $GREY;
                float: right;
            }
        }

        .search__input {
            max-width: 962px;
            margin: 0 auto;
            height: 100%;
            position: relative;

            .search__results {
                position: absolute;
                width: 100%;
                z-index: 50;
            }

            input {
                border: 0;
                background: transparent;
                font-size: 20px;
                height: 100%;
                width: auto;
                height: 56px;
                font-weight: 100;
                margin-left: 5px;
            }

            .search-button-wrapper {
                background: #f3f3f4;
                min-width: 90px;
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                padding: 16px 24px;

                span {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    color: #000;
                    &.ss-icon-search {
                        cursor: pointer;
                        float: right;
                    }

                    &.ss-icon-close {
                        cursor: pointer;
                        margin-right: 28px;
                    }
                }
            }

            .search-field-wrapper {
                display: inline-block;
                min-height: 57px;
                margin-left: -5px;
                width: 88%;
            }
            
        }

        &__results {
            background: #f3f3f4;
            padding: 30px 30px 46px;
            max-width: 962px;
            margin: 0 auto;

            > ul {
                margin: 0 0 28px;
                &:last-child {
                    margin: 0;
                }
                li {
                    &.category-list {
                        display: inline-block;
                        font-size: 13px;
                        color: #666767;
                        padding-right: 30px;
                        vertical-align: top;
                        width: 145px;
                    }

                    &.subcategory-list {
                        display: inline-block;
                        vertical-align: top;
                        ul {
                            li {
                                font-size: 16px;
                                color: #000;
                                cursor: pointer;
                                margin-bottom: 6px;
                                transition: color .2s ease-in;

                                &:hover { color: #e71d39; }

                                &.selected {
                                    color: #e71d39;
                                }

                                &[data-suggested="suggested"] {
                                    color: red;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .search-pill-wrapper {
        width: 962px;
        margin: 0 auto;
        background-color: #f3f3f4;
        border-bottom: 1px solid #e7e7e8;
        margin-top: -1px
    }

    .search-field-pill {
        display: inline-block;
        background-color: white;
        border-radius: 30px;
        padding: 4px 12px;
        margin: 12px 5px 0 5px;

      

        &__close {
          font-size: 10px;
          position: relative;
          display: inline-block;
          background-color: #666767;
          padding: 2px 5px 4px;
          border-radius: 20px;
          color: #fff;
          height: auto;
          line-height: 9px;
          font-weight: 100;
          margin-left: 5px;
          top: -2px;
          cursor: pointer;
        }
    }
}



.header-menu-wrapper { position: relative; }


