// Box Sizing
@mixin box-sizing($boxmodel) {
  -webkit-box-sizing: $boxmodel;
     -moz-box-sizing: $boxmodel;
          box-sizing: $boxmodel;
}

// Translate
@mixin translate($x, $y) {
    -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    transform: translate($x, $y);
}

// Border Radius
@mixin BorderRadius($topRight: 0px, $topLeft: 0px, $bottomRight: 0px, $bottomLeft: 0px) {
    border-top-right-radius: $topRight;
    border-top-left-radius: $topLeft;
    border-bottom-right-radius: $bottomRight;
    border-bottom-left-radius: $bottomLeft;

    -webkit-top-right-radius: $topRight;
    -webkit-top-left-radius: $topLeft;
    -webkit-bottom-right-radius: $bottomRight;
    -webkit-bottom-left-radius: $bottomLeft;

    -moz-border-radius-topright: $topRight;
    -moz-border-radius-topleft: $topLeft;
    -moz-border-radius-bottomright: $bottomRight;
    -moz-border-radius-bottomleft: $bottomLeft;

    -ms-top-right-radius: $topRight;
    -ms-top-left-radius: $topLeft;
    -ms-bottom-right-radius: $bottomRight;
    -ms-bottom-left-radius: $bottomLeft;

    -o-top-right-radius: $topRight;
    -o-top-left-radius: $topLeft;
    -o-bottom-right-radius: $bottomRight;
    -o-bottom-left-radius: $bottomLeft;
}

// Transition
@mixin transition ($transition...) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}